@model LostPets.Web.ViewModels.Posts.ListPostViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron text-center text-primary" style="background-image:url('http://www.egananimalhospital.com/sites/default/files/pictures/row-cats-dogs.jpg')">
    <h1>Most Recent Posts</h1>
</div>

<div class="container">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("../Posts/_PostPartial", post)
    }
</div>