@model LostPets.Web.Areas.Administration.ViewModels.AdminUsers.AdminPageableListUserViewModel
@{
    ViewBag.Title = "All Users";
}

<div class="container">
    <h1 class="text-center">All Users</h1>

    <div class="row">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Profile Picture</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    @Html.Partial("_AllPartial", user)
                }
            </tbody>
        </table>
    </div>

    <div class="row text-center">
        <nav>
            <ul class="pagination">
                @if (Model.CurrentPage > 1)
            {
            <li>
                <a href="/Administration/AdminUsers/All/@(Model.CurrentPage - 1)?" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            }
                @for (int i = 1; i < Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
            <li class="@className"><a href="/Administration/AdminUsers/All/@i">@i</a></li>
            }

                @if (Model.CurrentPage < Model.TotalPages)
            {
            <li>
                <a href="/Administration/AdminUsers/All/@(Model.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            }
            </ul>
        </nav>
    </div>
</div>
